#Person {
  max-width: 550px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  place-items: center;
  width: 90%;
  z-index: 1;
}

@media screen and (min-width: 750px) {
  #Person {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 1100px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 3fr;
        grid-template-columns: 2fr 3fr;
    -ms-grid-rows: minmax(auto, 75px) auto;
        grid-template-rows: minmax(auto, 75px) auto;
    grid-column-gap: 2rem;
  }
}

@media screen and (min-width: 750px) and (min-width: 990px) {
  #Person {
    -ms-grid-rows: auto 75px;
        grid-template-rows: auto 75px;
    grid-row-gap: 1rem;
    padding-bottom: 0;
  }
}

@media screen and (min-width: 750px) {
  #Person .imgContainer {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
  }
}

@media screen and (min-width: 750px) and (min-width: 990px) {
  #Person .imgContainer {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
}

@media screen and (min-width: 750px) {
  #Person .text {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
    margin-top: 0 !important;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
  }
  #Person .nameContainer {
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    margin-bottom: 0 !important;
  }
}

@media screen and (min-width: 750px) and (min-width: 990px) {
  #Person .nameContainer {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    margin-top: 1rem;
  }
}

@media screen and (min-width: 750px) {
  #Person.reverse {
    -ms-grid-columns: 3fr 2fr;
        grid-template-columns: 3fr 2fr;
    grid-row-gap: .5rem;
  }
}

@media screen and (min-width: 750px) and (min-width: 990px) {
  #Person.reverse {
    padding-top: 0;
    -ms-grid-rows: 75px auto;
        grid-template-rows: 75px auto;
  }
}

@media screen and (min-width: 750px) {
  #Person.reverse .imgContainer {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
}

@media screen and (min-width: 750px) and (min-width: 990px) {
  #Person.reverse .imgContainer {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
}

@media screen and (min-width: 750px) {
  #Person.reverse .text {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
}

@media screen and (min-width: 750px) and (min-width: 990px) {
  #Person.reverse .text {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
}

@media screen and (min-width: 750px) {
  #Person.reverse .nameContainer {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    margin-top: 0;
  }
}

#Person .nameContainer {
  margin-bottom: 2rem;
  text-align: center;
  font-family: var(--serif-font);
  text-transform: capitalize;
  position: relative;
}

#Person .nameContainer::before, #Person .nameContainer::after {
  content: '';
  display: block;
  height: 1px;
  width: 25px;
  background-color: black;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#Person .nameContainer::before {
  left: -3rem;
}

#Person .nameContainer::after {
  right: -3rem;
}

#Person .nameContainer h3 {
  font-size: 2.5rem;
  line-height: 2.25rem;
  letter-spacing: -1.5px;
}

#Person .imgContainer {
  position: relative;
}

#Person .imgContainer::before, #Person .imgContainer::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}

#Person .imgContainer::before {
  height: 5px;
  width: 25%;
  background: -webkit-gradient(linear, left top, right top, from(#f7f7f7), color-stop(0%, var(--highlight-color)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(90deg, #f7f7f7 0%, var(--highlight-color) 0%, rgba(255, 255, 255, 0) 100%);
}

#Person .imgContainer::after {
  height: 25%;
  width: 5px;
  background: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), color-stop(0%, var(--highlight-color)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(180deg, #f7f7f7 0%, var(--highlight-color) 0%, rgba(255, 255, 255, 0) 100%);
}

#Person .imgContainer img {
  width: 100%;
  margin: 0 auto;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

#Person.reverse .imgContainer::before {
  top: unset;
  left: unset;
  bottom: 0;
  right: 0;
  background: -webkit-gradient(linear, left top, right top, from(rgba(247, 247, 247, 0)), color-stop(100%, var(--highlight-color)), color-stop(0%, rgba(255, 255, 255, 0)));
  background: linear-gradient(90deg, rgba(247, 247, 247, 0) 0%, var(--highlight-color) 100%, rgba(255, 255, 255, 0) 0%);
}

#Person.reverse .imgContainer::after {
  top: unset;
  left: unset;
  bottom: 0;
  right: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(247, 247, 247, 0)), color-stop(100%, var(--highlight-color)), color-stop(0%, rgba(255, 255, 255, 0)));
  background: linear-gradient(180deg, rgba(247, 247, 247, 0) 0%, var(--highlight-color) 100%, rgba(255, 255, 255, 0) 0%);
}

#Person .text {
  text-align: left;
  font-size: .95rem;
  line-height: 1.5rem;
  margin-top: 2rem;
}

#Person .text p {
  margin-bottom: 1rem;
}

#Person .text p::first-line {
  font-weight: 700;
}

#Person .text blockquote {
  display: none;
}

@media screen and (min-width: 1200px) {
  #Person .text blockquote {
    display: block;
    font-family: var(--serif-font);
    font-style: italic;
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.5rem;
    text-align: center;
    margin: 3rem 4rem 0 4rem;
    position: relative;
    opacity: .5;
  }
  #Person .text blockquote::before, #Person .text blockquote::after {
    content: '"';
    font-family: var(--serif-font);
    font-size: 8rem;
    margin: 1rem 0 0 -3.75rem;
    position: absolute;
    opacity: .75;
    color: var(--highlight-color);
  }
  #Person .text blockquote::after {
    margin: 2rem -3rem 0 .25rem;
  }
}
/*# sourceMappingURL=Person.module.css.map */