#Sustainability {
    section {
        font-family: var(--main-font);
        // border-top: 3rem solid var(--highlight-color);
        padding: 6rem 1.5rem 0;
        position: relative;
        @media screen and (min-width: 750px){
            padding-bottom: 6rem;
        }
        &::before {
            content: '';
            z-index: -1;
            position: absolute;
            top: 0;
            left: 0;
            background-image: url('../../public/imgs/embellishments/triangle-textured.png');
            background-size: cover;
            min-width: 325px;
            min-height: 325px;
            width: 75vw;
            height: 75vw;
            max-width: 500px;
            max-height: 500px;
            @media screen and (min-width: 750px){
                width: 50vw;
                height: 50vw;
            }
        }
        .contentContainer {
            @media screen and (min-width: 750px){
                display: flex;
                justify-content: center;
                align-items: flex-start;
                gap: 3rem;
                max-width: 1100px;
                margin: 0 auto;
                > * {
                    margin: unset !important;
                }
            }
            .imgContainer {
                margin: 0 auto;
                max-width: 320px;
                box-shadow: 5px 5px 15px rgba(0,0,0,.15);
                img {
                    width: 100%;
                }
            }   
            .info {
                margin: 3rem auto;
                max-width: 600px;
                @media screen and (min-width: 750px){
                    margin: 0 auto;
                }
                .text {
                    @media screen and (min-width: 990px){
                        display: flex;
                        gap: 1rem;
                        div {
                            margin: 1.35rem 0;
                        }
                    }
                    div {
                        &:not(:last-of-type){
                            margin: 1.35rem 0;
                        }
                    }
                }
                header {
                    h3 {
                        font-size: 1.5rem;
                        font-weight: 300;
                        margin-bottom: 1.25rem;
                        &::first-letter {
                            text-transform: capitalize;
                        }
                    }
                    p {
                        font-style: italic;
                    }
                }
                h4 {
                    font-size: 1.1rem;
                    font-weight: 600;
                    color: var(--highlight-color);
                    margin-bottom: .5rem;
                    &::first-letter {
                        text-transform: capitalize;
                    }
                }
                p {
                    color: var(--main-color-fade-less);
                    line-height: 1.25rem;
                    font-weight: 300;
                }
            }
        }
    }
    #primary {
        background-color: #63722e;
        background-image: url("../../public/imgs/textures/45-degree-fabric-light.png");
        padding-top: 1rem;
        padding-bottom: 3rem;
        @media screen and (min-width: 750px){
            padding-top: 3rem;
        }
        &::before {
            all: unset;
            content: '';
            display: block;
            width: 20vw;
            height: 20vw;
            position: absolute;
            z-index: 10;
            top: 0%;
            left: -10%;
            transform-origin: top right;
            transform: rotate(45deg);
            background-image: url('../../public/imgs/stock/team_page/nature.jpg');
            border: .5rem solid white;
            @media screen and (min-width: 990px){
                border: 1.25rem solid white;
            }
        }
        .contentContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            @media screen and (min-width: 750px){
                flex-direction: row;
            }
            @media screen and (min-width: 990px){
                align-items: flex-start;
            }
        }
        .imgContainer {
            order: 2;
            margin-left: -1.5rem !important;
            margin-right: -1.5rem !important;
            margin-top: 1.5rem;
            max-width: 450px;
            border: 1.5rem solid white;
            img {
                background-color: white;
                border: 2px solid rgba(0,0,0,.055);
            }
            @media screen and (min-width: 750px){
                margin-left: 0 !important;
                margin-right: 0 !important;
            }
        }
        .info {
            color: var(--secondary-color) !important; 
            margin: 1rem 0;
            text-align: center;
            header {
                color: var(--secondary-color);
                h3 {
                    font-weight: 400;
                    text-transform: capitalize;
                }
                p {
                    color: var(--secondary-color) !important;
                    margin: 0 auto;
                }
                &::before {
                    content: '';
                    display: block;
                    width: 25vw;
                    height: 25vw;
                    max-width: 75px;
                    max-height: 75px;
                    background-image: url('../../public/imgs/stock/svgs/sustainability.png');
                    background-size: cover;
                    margin: 0 auto 1.5rem;
                    @media screen and (min-width: 750px){
                        margin-bottom: 1.5rem;
                    }
                }
            }
            .text {
                @media screen and (min-width: 990px){
                    gap: 1rem;
                    display: flex;
                    text-align: left;
                    div {
                        margin-top: 1.35rem;
                    }
                }
                div {
                    // display: flex;
                    &::before,
                    &::after {
                        content: '';
                        display: block;
                        height: 1px;
                        width: 100%;
                        background-color: var(--secondary-color-fade-more);
                    }
                    &::before {
                        margin-bottom: 1.35rem;
                    }
                    &::after {
                        margin-top: 1.35rem;
                        @media screen and (min-width: 750px){
                            content: unset;
                        }
                    }
                    @media screen and (max-width: 750px){
                        &:not(:first-of-type){
                            &::before,
                            &::after {
                                content: unset;
                            }
                        }
                    }
                    h4 {
                        color: rgb(180, 68, 68);
                        font-weight: 500;
                        font-size: 2rem;
                        opacity: .9;
                    }
                }
                h4 {
                    color: var(--secondary-color);
                    font-weight: 400;
                }
                p {
                    color: var(--secondary-color);
                    max-width: 400px;
                    margin: 0 auto;
                }
            }
        }
    }
}