#Gallery {
  background-color: #EFEFEF;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  gap: 1rem;
  padding-top: 5rem;
  padding-bottom: 2.5rem;
  position: relative;
}

#Gallery:nth-of-type(2) {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

@media screen and (min-width: 750px) {
  #Gallery {
    gap: 0;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

#Gallery .imgContainer {
  z-index: 1;
  max-width: 26.25rem;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
}

@media screen and (min-width: 750px) {
  #Gallery .imgContainer:first-of-type {
    -ms-grid-column-align: right;
        justify-self: right;
  }
}

@media screen and (max-width: 749px) {
  #Gallery .imgContainer.hasCard {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-row: 1;
        grid-row-start: 1;
  }
  #Gallery .imgContainer.hasCard figcaption {
    top: 0;
    bottom: inherit;
  }
}

#Gallery .imgContainer img {
  width: 100%;
}

#Gallery .imgContainer figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1.5rem;
  text-align: center;
  z-index: 20;
  background-color: white;
  text-transform: uppercase;
}

@media screen and (min-width: 750px) {
  #Gallery .imgContainer figcaption {
    padding: 2rem;
  }
}

#Gallery .imgContainer figcaption p {
  margin-bottom: .5rem;
  font-size: .75rem;
  font-weight: 700;
  opacity: .75;
  color: var(--highlight-color);
}

#Gallery .imgContainer figcaption h3 {
  display: inline;
  font-family: var(--serif-font);
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: capitalize;
  color: var(--main-color);
  -webkit-transition: 200ms cubic-bezier(0.5, -0.01, 0.16, 0.1);
  transition: 200ms cubic-bezier(0.5, -0.01, 0.16, 0.1);
  position: relative;
}

#Gallery .imgContainer figcaption h3:hover {
  opacity: .5;
}

#Gallery .imgContainer figcaption h3::after {
  content: '';
  position: absolute;
  bottom: -.25rem;
  left: 0;
  right: 0;
  height: 2px;
  background-color: var(--main-color-fade);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

#Gallery .spacerBG {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 5rem;
  background-color: var(--highlight-color-fade-more);
  z-index: 0;
}

#Gallery:nth-of-type(2) .spacerBG {
  bottom: inherit;
  top: 0;
}

#Gallery.reverse {
  padding-top: 2.5rem;
}

@media screen and (min-width: 750px) {
  #Gallery.reverse .imgContainer:first-of-type {
    -ms-grid-column-align: left;
        justify-self: left;
  }
  #Gallery.reverse .imgContainer:nth-of-type(2) {
    -ms-grid-column-align: right;
        justify-self: right;
  }
}

#Gallery.reverse .imgContainer.hasCard {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-row: 1;
      grid-row-start: 1;
}

#Gallery.reverse .imgContainer.hasCard figcaption {
  top: 0;
  bottom: inherit;
}
/*# sourceMappingURL=Gallery.module.css.map */