#Gallery {
    background-color: #EFEFEF;
    display: grid;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
    gap: 1rem;
    padding-top: 5rem;
    padding-bottom: 2.5rem;
    position: relative;
    &:nth-of-type(2){
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
    @media screen and (min-width: 750px){
        gap: 0;
        grid-template-columns: 1fr 1fr;
    }
    .imgContainer {
        z-index: 1;
        max-width: 26.25rem;
        box-shadow: 5px 5px 5px rgba(0,0,0,.1);
        overflow: hidden;
        @media screen and (min-width: 750px){
            &:first-of-type {
                justify-self: right;
            }
        }
        @media screen and (max-width: 749px){
            &.hasCard {
                grid-column-start: 1;
                grid-row-start: 1;
                figcaption {
                    top: 0;
                    bottom: inherit;
                }
            }
        }
        img {
            width: 100%;
        }
        position: relative;
        figcaption {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            padding: 1.5rem;
            text-align: center;
            z-index: 20;
            background-color: white;
            text-transform: uppercase;
            @media screen and (min-width: 750px){
                padding: 2rem;
            }
            p {
                margin-bottom: .5rem;
                font-size: .75rem;
                font-weight: 700;
                opacity: .75;
                color: var(--highlight-color);
            }
            h3 {
                display: inline;
                font-family: var(--serif-font);
                font-size: 1.5rem;
                font-weight: 400;
                text-transform: capitalize;
                color: var(--main-color);
                transition: 200ms cubic-bezier(.5, -.01, .16, .1);
                position: relative;
                &:hover {
                    opacity: .5;
                }
                &::after {
                    content: '';
                    position: absolute;
                    bottom: -.25rem;
                    left: 0;
                    right: 0;
                    height: 2px;
                    background-color: var(--main-color-fade);
                    transform-origin: left;
                    transform: scaleX(1);
                }
            }
        }            
    }
    .spacerBG {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 5rem;
        background-color: var(--highlight-color-fade-more);
        z-index: 0;
    }
    &:nth-of-type(2) {
        .spacerBG {
            bottom: inherit;
            top: 0;
        }
    }
}

#Gallery.reverse {
    padding-top: 2.5rem;
    .imgContainer {
        @media screen and (min-width: 750px){
            &:first-of-type {
                justify-self: left;
            }
            &:nth-of-type(2){
                justify-self: right;
            }
        }
        &.hasCard {
            grid-column-start: 1;
            grid-row-start: 1;
            figcaption {
                top: 0;
                bottom: inherit;
            }
        }
    }
}