.Body {
    transition: 500ms ease;
    overflow-x: hidden;
    &.HBMopen {
        transform: scale(.98);
        filter: blur(5px);
    }
    > * {
        max-width: 100vw;
        overflow-x: hidden;
    }
}

.enter {
    opacity: 0;
}
.enterActive {
    opacity: 1;
    transition: 1000ms ease;
}