.Body {
    transition: 500ms ease;
    overflow-x: hidden;
    position: relative;
    min-height: 100vh;
    &.HBMopen {
        transform: scale(.99);
        filter: blur(5px);
    }
}

.enter {
    opacity: 0;
}
.enterActive {
    opacity: 1;
    transition: 1000ms ease;
}