.GallerySort {
    --padding-bottom: .65rem;
    .tagList {
        border-bottom: 1px solid var(--main-color-fade-more);
        padding-bottom: var(--padding-bottom);
        margin-bottom: 1.15rem;
        overflow-x: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
        display: flex;
        > * + * {
            margin-left: .75rem;
        }
        &::-webkit-scrollbar {
            display: none;
        }
        .tag {
            position: relative;
            font-family: var(--main-font);
            color: var(--main-color-fade);
            letter-spacing: 2.5px;
            font-weight: 400;
            text-transform: uppercase;
            cursor: pointer;
            transition: 350ms ease;
            font-size: .8rem;
            &[data-active='true'],
            &:hover {
                color: var(--highlight-color);
            }
            &::after {
                content: '';
                position: absolute;
                display: block;
                width: 100%;
                bottom: calc(var(--padding-bottom) * -1);
                background-color: transparent;
                height: 2px;
                transform: translateX(-1px);
                transition: 350ms ease;
            }
            &[data-active='true']::after {
                background-color: var(--highlight-color);
            }
        }
    }
}