.galleryContainer {
    --gap: .5rem;
    display: flex;
    > * + * {
        margin-left: var(--gap);
    }
    @media screen and (min-width: 990px){
        --gap: .7rem;
    }
    .column {
        flex-basis: 33%;
        display: flex;
        flex-direction: column;
        > * + * {
            margin-top: var(--gap);
        }
        .imgContainer {
            box-shadow: 2px 2px 5px rgba(0,0,0,.15);
            cursor: pointer;
            @media screen and (min-width: 750px){
                &:hover {
                    img {
                        transition: 350ms ease;
                        box-shadow: 2px 2px 5px rgba(0,0,0,.35);
                        transform: scale(1.025);
                    }
                }
            }
            img {
                width: 100%;
                transition: 100ms ease;
            }
        }
    }
}