#Modal {
    width: 100vw;
    height: 100vh;
    background-color: #191919;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    .imgContainer {
        box-shadow: 5px 5px .9375rem rgba(0,0,0,.25);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        &.portrait {
            min-height: 31.25rem;
            height: 60vh;
            max-height: 100vh;
            max-width: 90vw;
            @media screen and (min-width: 34.375rem){
                height: 90vh;
            }
            img {
                height: 100%;
            }
        }
        &.landscape {
            width: 90vw;
            max-width: 62.5rem;
            max-height: 100vh;
            img {
                width: 100%;
            }
        }
        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: 350ms ease;
        }
    }
    .chevronContainer {
        display: inline-block;
        cursor: pointer;
        position: absolute;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 2px;
        transition: 500ms ease;
        top: 50%;
        &:hover {
            .chevron {
                opacity: 1;
            }
            @media screen and (min-width: 46.875rem){
                background-color: var(--secondary-color-fade-more-2x);
                width: 6.25rem;
                p {
                    transition: 500ms ease 250ms;
                    opacity: 1;
                }
            }
        }
        &#LEFT {
            left: 1%;
            .chevron {
                left: 0;
                transform: translate(50%, -50%) rotate(-45deg);
            }
            p {
                right: .5rem;
            }
        }
        &#RIGHT {
            right: 1%;
            .chevron {
                right: 0;
                transform: translate(-50%, -50%) rotate(135deg);
            }
            P {
                left: .5rem;
            }
        }
        .chevron {
            content: "";
            position: absolute;
            top: 50%;
            width: .9375rem;
            height: .9375rem;
            border-left: 2px solid white;
            border-top: 2px solid white;
            backface-visibility: hidden;
            opacity: .5;
            transition: 500ms ease;
        }
        &::before {
            content: '';
            position: absolute;
            display: block;
            top: 50%;
            left: -3px;
            transform: translate(-50%, -50%) rotate(45deg);
            width: 4.375rem;
            height: 4.375rem;
            background-color: #191919;
            @media screen and (min-width: 46.875rem){
                background-color: transparent;
            }
        }
        &#RIGHT::before {
            left: unset;
            right: -3px;
            transform: translate(50%, -50%) rotate(45deg);
        }
        p {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            color: var(--secondary-color-fade);
            opacity: 0;
        }
    }
    .closeIcon {
        cursor: pointer;
        position: absolute;
        right: calc(.5rem);
        font-size: 2rem;
        color: var(--secondary-color);
        transform: rotate(45deg);
        transform-origin: center;
        transition: 350ms ease;
        opacity: .5;
        &:hover {
            opacity: 1;
        }
        @media screen and (min-width: 61.85rem){
            right: .75rem;
            font-size: 3rem;
        }
    }
    .swipeGesture {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        height: 4rem;
        opacity: .75;
    }
}