#Modal {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    .imgContainer {
        background-color: var(--secondary-color);
        padding: .45rem .45rem 3rem;
        &.portrait {
            height: 60vh;
            max-width: 90vw;
            @media screen and (min-width: 550px){
                height: 80vh;
            }
            img {
                height: 100%;
                width: 100%;
            }
        }
        &.landscape {
            width: 90vw;
            max-width: 1000px;
            img {
                width: 100%;
            }
        }
    }
}