#Footer {
  width: 100%;
  text-align: center;
  background-color: var(--secondary-color-fade);
  color: var(--main-color);
  border-top: 3px solid var(--main-color-fade-less);
  padding: 2rem;
}

#Footer .CTA_nav_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 750px) {
  #Footer .CTA_nav_container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 1200px;
    margin: 0 auto;
  }
}

#Footer .nav {
  font-family: var(--main-font);
  margin-bottom: 1rem;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem;
}

@media screen and (min-width: 750px) {
  #Footer .nav {
    margin-left: auto;
  }
}

#Footer .nav__section {
  min-width: 100px;
}

@media screen and (min-width: 750px) {
  #Footer .nav__section li {
    margin-left: 2rem;
  }
}

#Footer .nav__section li a {
  cursor: pointer;
}

#Footer .nav__section li .header {
  font-family: var(--main-font);
  font-weight: 600;
  text-transform: uppercase;
  font-size: .95rem;
  letter-spacing: .5px;
  margin-bottom: .5rem;
  display: inline-block;
  white-space: nowrap;
}

#Footer .nav__section li > *:not(h3) {
  opacity: .7;
  font-size: .9rem;
}

#Footer .nav__section .blank {
  height: .5rem;
  opacity: 0;
}

#Footer .nav__section#nav a {
  position: relative;
  -webkit-transition: 350ms ease;
  transition: 350ms ease;
}

#Footer .nav__section#nav a.active {
  opacity: .25;
  pointer-events: none;
  cursor: pointer;
}

#Footer .nav__section#nav a::after {
  position: absolute;
  content: '';
  bottom: -.1rem;
  left: 0;
  right: 0;
  height: 1px;
  background-color: var(--main-color);
  -webkit-transition: 350ms ease;
  transition: 350ms ease;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
}

#Footer .nav__section#nav a:hover {
  opacity: 1;
}

#Footer .nav__section#nav a:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

#Footer .nav__section#contact li p {
  font-style: italic;
}

#Footer .nav__section#contact a.tel {
  opacity: 1;
  border-bottom: 1px solid var(--main-color);
}

#Footer .CTA {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 2rem;
  text-align: left;
}

@media screen and (min-width: 750px) {
  #Footer .CTA {
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
    margin-left: .75rem;
  }
}

#Footer .CTA h5 {
  display: inline-block;
  font-family: var(--serif-font);
  font-size: 1.9rem;
  position: relative;
  color: var(--main-color);
  line-height: 1.7rem;
}

#Footer .CTA p {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: .75rem;
  letter-spacing: 1px;
  margin: .5rem 0 1.5rem;
  text-align: left;
}

#Footer .socialCopyright {
  margin: 0 auto;
  padding-top: .5rem;
}

@media screen and (min-width: 750px) {
  #Footer .socialCopyright {
    padding-top: 2rem;
  }
}

#Footer .socialCopyright .socialList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: .5rem;
  margin: 1rem;
}

#Footer .socialCopyright .socialList > *:hover {
  -webkit-animation: hover 500ms infinite;
          animation: hover 500ms infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

@-webkit-keyframes hover {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  100% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
}

@keyframes hover {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  100% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
}

#Footer .socialCopyright p {
  font-size: .55rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}
/*# sourceMappingURL=Footer.module.css.map */