.ProductAd {
    .productList {
        padding-top: .5rem;
        display: grid;
        --grid-gap: .75rem;
        gap: var(--grid-gap);
        grid-template-rows: min-content;
        grid-template-columns: repeat(2, 1fr);
        overflow-x: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
        &::-webkit-scrollbar {
            display: none;
        }
        @media screen and (min-width: 46.875rem){
            grid-template-columns: repeat(4, 1fr);
        }
        @media screen and (min-width: 61.85rem){
            grid-template-columns: repeat(2, 1fr);
        }
        .product {
            @media screen and (min-width: 46.875rem){
                &:hover {
                    .imgContainer {
                        img {
                            transform: scale(1.04);
                        }
                    }
                    .info {
                        transform: translateY(-1rem);
                        border-top: 1px solid var(--main-color-fade-more-2x);
                        p {
                            transition: 750ms ease 100ms;
                            opacity: 1;
                        }
                    }
                }
            }
            .imgContainer {
                display: block;
                padding-top: 100%;
                position: relative;
                width: 100%;
                overflow: hidden;
                border: 1px solid var(--main-color-fade-more-2x);
                transition: 350ms ease;
                img {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    transition: 500ms ease;
                }
            }
            .info {
                border-top: 1px solid transparent;
                background-color: var(--secondary-color);
                transition: 250ms ease;
                padding-top: .25rem;
                width: calc(100% + 1px);
                .name, .price, p {
                    margin: 0 auto;
                    font-size: .7rem;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                }
                .name {
                    font-weight: 500;
                    margin: .25rem auto;
                }
                .price {
                    font-style: italic;
                    &::before {
                        content: '$';
                    }
                }
                p {
                    &::before {
                        content: '>'
                    }
                    color: var(--highlight-color);
                    font-weight: 500;
                    opacity: 0;
                    position: absolute;
                    margin-top: .25rem;
                    line-height: unset;
                }
            }
        }
    }
}