#BlogList {
    position: relative;
    h3 {
        background-color: var(--main-color);
        color: var(--secondary-color);
        font-family: var(--serif-font);
        font-size: 2.2rem;
        line-height: 3rem;
        text-align: center;
        @media screen and (min-width: 990px){
            font-size: 3rem;
            line-height: 4.25rem;
        }
    }
    .list {
        display: flex;
        flex-direction: column;
        @media screen and (min-width: 750px){
            flex-direction: row;
            > * + * {
                margin-left: 4rem;
            }
            justify-content: center;
            padding: 4.25rem;
        }
        .blog {
            text-align: center;
            padding: 4.25rem 0;
            display: flex;
            flex-direction: column;
            border-bottom: 1px solid var(--main-color-fade);
            transition: 250ms ease;
            > * + * {
                margin-top: .25rem;
            }
            &:hover {
                @media screen and (min-width: 750px){
                    box-shadow: 3px 3px 10px rgba(0,0,0,.2);
                    .img {
                        img { opacity: 1; } 
                        &::after {
                            background-color: transparent;
                        }
                    }
                }
            }
            @media screen and (min-width: 750px){
                border-bottom: none;
                box-shadow: 3px 3px 10px rgba(0,0,0,.1);
                padding: 1.5rem 3rem;
                border-radius: 1%;
            }
            .date {
                font-size: .9rem;
                color: var(--highlight-color);
            }
            .title {
                cursor: pointer;
                font-size: 1.75rem;
                font-family: var(--serif-font);
                font-weight: 600;
                letter-spacing: 1px;
                position: relative;
                @media screen and (min-width: 990px){
                    font-size: 1.75rem;
                }
                &:hover {
                    text-decoration: underline;
                }
            }
            .author {
                font-style: italic;
                font-size: .85rem;
                color: var(--highlight-color);
            }
            .img {
                position: relative;
                margin: 1rem 0;
                img {
                    margin: 0 auto;
                    width: 300px;
                    height: 300px;
                    object-fit: cover;
                    border: 1px solid var(--main-color-fade);
                    transition: 350ms ease;
                    @media screen and (min-width: 750px){
                        opacity: .8;
                        width: 225px;
                        height: 225px;
                    }
                }
            }
            .tags {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: .5rem;
                > * + * {
                    margin-left: .3rem;
                }
                svg {
                    width: .75rem;
                }
                span {
                    cursor: pointer;
                    opacity: .65;
                    font-size: .75rem;
                    padding: 0rem .2rem;
                    border: 1px solid var(--main-color);
                    transition: 350ms ease;
                    &:hover {
                        background-color: var(--main-color-fade-more-2x);
                    }
                }
            }
        }
    }
}