.SocialShare {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    > *:first-of-type {
        margin: 0 !important;
    }
    > * + * {
        margin: 0 0 0 .5rem !important;
    }
    @media screen and (min-width: 990px){
        justify-content: flex-start;
    }
    button {
        svg {
            height: auto;
        }
    }
}