#Blog {
    font-family: var(--main-font);
    background-color: var(--secondary-color);
    .landing {
        display: grid;
        grid-template-rows: 60vh 1fr;
        --page-padding: .5rem;
        .banner {
            background-image: url('../public/imgs/background/cocktailcurations_blog_background.jpg');
            background-size: cover;
            background-position: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                background: rgb(247,247,247);
                background: linear-gradient(164deg, rgba(247,247,247,1) 0%, rgba(204,156,168,1) 0%, rgba(127,140,79,1) 100%); 
                opacity: .8;
            }
            header {
                position: relative;
                z-index: 5;
                text-align: center;
                position: relative;
                left: 0;
                padding: 0 .5rem;
                transition: 350ms ease;
                @media screen and (min-width: 990px){
                    left: -15%;
                    text-align: left;
                }
                h3 {
                    color: var(--secondary-color);
                    font-family: var(--serif-font);
                    font-size: 2.2rem;
                    line-height: 2.2rem;
                    font-weight: 500;
                    letter-spacing: 2px;
                    @media screen and (min-width: 990px){
                        font-size: clamp(2.2rem, 3.75vw, 4rem);
                        line-height: 3vw;
                    }
                }
                p {
                    &.subheader::before {
                        content: '';
                        display: block;
                        height: 1px;
                        width: 20px;
                        background-color: var(--secondary-color);
                        margin: .75rem auto;
                        @media screen and (min-width: 990px){
                            margin: 1rem auto 1rem 0;
                        }
                    }
                    font-weight: 400;
                    letter-spacing: 2.5px;
                    color: var(--secondary-color);
                    @media screen and (min-width: 990px){
                        font-size: clamp(1rem, 1vw, 1.5rem);
                        margin-left: .5rem;
                    }
                }
                .CTA {
                    cursor: pointer;
                    margin-top: 2rem;
                    border: 2px solid var(--secondary-color);
                    display: inline-block;
                    padding: .5rem .75rem;
                    font-weight: 400;
                    &:hover {
                        transition: 350ms ease;
                        background-color: rgba(255, 255, 255, .25)
                    }
                    @media screen and (min-width: 990px){
                        margin-top: 2vw;
                    }
                }
            }
        }
        .latest {
            padding: 3rem 0;
            background-color: var(--secondary-color);
            position: relative;
            @media screen and (min-width: 990px){
                display: grid;
                grid-template-columns: 3fr 4fr;
                row-gap: 1rem;
                column-gap: 1rem;
                padding: 6.5rem clamp(2rem, calc((100vw - 1500px)/2), 100rem);
                header {
                    grid-column: 1/-1;
                }
                .blogImg {
                    grid-column: 1/2;
                }
                .blogInfo {
                    grid-column: 2/3;
                    grid-row: 2/3;
                }
            }
            header {
                text-align: center;
                margin-bottom: -2rem;
                position: relative;
                @media screen and (min-width: 990px){
                    margin-bottom: 3rem;
                    z-index: 1;
                    &::after {
                        content: '';
                        position: absolute;
                        background-image: url('../public/imgs/stock/logos/cc-icon-logo-color.png');
                        background-size: cover;
                        background-position: center;
                        display: block;
                        width: 125px;
                        height: 200px;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%) scale(.75);
                        z-index: -1;
                        opacity: .2;
                    }
                }
                h2 {
                    margin-bottom: .5rem;
                    font-size: 1rem;
                    font-weight: 400;
                    letter-spacing: 2.5px;
                    text-transform: uppercase;
                    color: var(--highlight-color);
                    opacity: .95;
                    @media screen and (min-width: 990px){
                        font-size: 1.15rem;
                        margin-bottom: unset;;
                        letter-spacing: 4.5px;
                    }
                }   
                h1 {
                    display: inline-block;
                    padding: 0 2rem;
                    background-color: var(--main-color);
                    color: var(--secondary-color);
                    font-family: var(--serif-font);
                    font-size: 2.2rem;
                    line-height: 3rem;
                    @media screen and (min-width: 990px){
                        background-color: unset;
                        color: var(--main-color);
                        font-size: 3rem;
                        line-height: 4.25rem;
                    }
                }
            }
            .blogImg, .blogInfo {
                display: flex;
                flex-direction: column;
                margin: 0 auto;
                gap: 1.25rem;
                --max-width: 525px;
                @media screen and (min-width: 990px){
                    width: unset;
                    max-width: unset;
                }
            }
            .blogImg {
                max-width: var(--max-width);
                justify-content: center;
                align-items: center;
                @media screen and (min-width: 990px){
                    width: 100%;
                    align-items: flex-end;
                }
                .imgContainer {
                    box-shadow: 3px 5px 10px rgba(0,0,0,.05);
                    margin: 1rem 0 0;
                    @media screen and (min-width: 990px){
                        margin: 0;
                        border: 1px solid var(--main-color-fade-more);
                        width: calc(100%);
                        height: calc(100%);
                        padding: .5rem;
                    }
                    img {
                        width: calc(100vw - var(--page-padding) * 2);
                        height: calc(75vw - var(--page-padding) * 2);
                        max-width: var(--max-width);
                        max-height: calc(var(--max-width) * .75);
                        object-fit: cover;
                        @media screen and (min-width: 990px){
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
            .blogInfo {
                width: 95%;
                max-width: calc(var(--max-width) * .95);
                justify-content: flex-start;
                align-items: center;
                padding: 1.25rem;
                border: 3px solid var(--highlight-color);
                border-top: none;
                @media screen and (min-width: 990px){
                    max-width: unset;
                    align-items: flex-start;
                    border-top: 2px solid var(--main-color-fade-less);
                    border-left: none;
                    border-right: none;
                    margin-top: unset;
                    padding: 2rem 0;
                    border-bottom: 2px solid var(--main-color-fade-less);
                    justify-content: center;
                    align-self: center;
                }
                .title {
                    font-size: 1.75rem;
                    text-align: left;
                    font-family: var(--serif-font);
                    font-weight: 600;
                    letter-spacing: 1px;
                    @media screen and (min-width: 990px){
                        font-size: 2.25rem;
                    }
                }
                .author {
                    &::before {
                        content: '—';
                        margin-right: .25rem;
                    }
                    color: var(--highlight-color);
                    margin: -.75rem 0 -.5rem;
                    span {
                        font-style: italic;
                        font-size: .9rem;
                        &:first-of-type::after {
                            content: '|';
                            margin: 0 .25rem;
                        }
                        &.date {
                            font-size: .75rem;
                        }
                    }
                }
                .subheaderPreview {
                    text-align: center;
                    font-size: .95rem;
                    line-height: 1.25rem;
                    opacity: .75;
                    font-weight: 300;
                    &::after {
                        content: ' ...';
                        white-space: nowrap;
                        @media screen and (min-width: 990px){
                            content: unset;
                        }
                    }
                    @media screen and (min-width: 990px){
                        text-align: left;
                    }
                }
            }
        }
    }
}
