#Contact .landing {
  display: -ms-grid;
  display: grid;
  min-height: 100vh;
  -ms-grid-rows: var(--navHeight) 10vh min-content;
      grid-template-rows: var(--navHeight) 10vh -webkit-min-content;
      grid-template-rows: var(--navHeight) 10vh min-content;
  background-color: var(--secondary-color);
  row-gap: 3rem;
  padding-bottom: 3rem;
}

#Contact .landing .landingHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 0 .5rem;
  margin-top: -1rem;
  font-family: var(--serif-font);
}

#Contact .landing .landingHeader h1 {
  font-size: 1.65rem;
  font-weight: 600;
  line-height: 1.65rem;
  color: var(--main-color);
  -webkit-transition: 350ms ease;
  transition: 350ms ease;
}

@media screen and (min-width: 550px) {
  #Contact .landing .landingHeader h1 {
    font-size: 2.25rem;
    line-height: 2.25rem;
  }
}

#Contact .landing .landingHeader h1 .emph {
  font-style: italic;
  color: var(--highlight-color);
}

#Contact .landing .formContainer {
  background-color: white;
  width: 90%;
  margin: 0 auto;
  padding: 3rem 1rem;
  -webkit-box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
  font-family: var(--main-font);
  max-width: 850px;
  border-radius: 2.5%;
  position: relative;
  overflow: hidden;
}

@media screen and (min-width: 550px) {
  #Contact .landing .formContainer:last-child {
    padding-bottom: 10vw;
  }
  #Contact .landing .formContainer h2 {
    padding: 0 0 2vw;
  }
}

#Contact .landing .formContainer h2 {
  font-size: 1.15rem;
  font-weight: 400;
  letter-spacing: 1px;
  -webkit-transition: 350ms ease;
  transition: 350ms ease;
  color: var(--main-color);
  text-decoration: underline;
  margin-top: 1rem;
}

#Contact .landing .formContainer .progressBar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1000px;
  --marker-gap: clamp(1rem, 15vw, 10rem);
  gap: var(--marker-gap);
  padding: 1rem clamp(1rem, 10vw, 4rem) 0;
}

@media screen and (min-width: 550px) {
  #Contact .landing .formContainer .progressBar {
    margin-top: 2.5rem;
    padding-top: 0;
  }
}

#Contact .landing .formContainer .progressBar .mark {
  min-width: 10px;
  min-height: 10px;
  border-radius: 50%;
  background-color: var(--highlight-color-fade-more);
  position: relative;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
}

#Contact .landing .formContainer .progressBar .mark:not(:last-of-type)::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 100%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
  height: 2px;
  width: var(--marker-gap);
  background-color: var(--highlight-color-fade-more);
}

#Contact .landing .formContainer .progressBar .mark .label {
  position: absolute;
  cursor: pointer;
  top: calc(100% + .5rem);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: clamp(0.75rem, 2vw, 1rem);
  text-transform: capitalize;
  font-weight: 500;
  color: var(--highlight-color);
  opacity: .5;
  width: 100px;
}

#Contact .landing .formContainer .progressBar .mark.current {
  background-color: var(--highlight-color);
}

#Contact .landing .formContainer .progressBar .mark.current::before {
  content: '';
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 200%;
  width: 200%;
  border: 2px solid var(--highlight-color);
}

#Contact .landing .formContainer .progressBar .mark.current .label {
  opacity: .9;
}

#Contact .landing .formContainer .progressBar .mark.complete {
  background-color: var(--highlight-color);
}

#Contact .landing .formContainer .progressBar .mark.complete::after {
  background-color: inherit;
}

#Contact .landing .formContainer .progressBar .mark.complete .label {
  opacity: .9;
}

#Contact .landing .formContainer .backButton, #Contact .landing .formContainer .nextButton {
  position: absolute;
  top: 1rem;
  left: 1.5rem;
}

#Contact .landing .formContainer .backButton:hover span, #Contact .landing .formContainer .nextButton:hover span {
  border-bottom: 1px solid var(--main-color);
}

#Contact .landing .formContainer .backButton svg, #Contact .landing .formContainer .nextButton svg {
  margin-bottom: .5px;
}

#Contact .landing .formContainer .backButton span, #Contact .landing .formContainer .nextButton span {
  font-weight: 600;
  margin-left: .5rem;
  -webkit-transition: 350ms ease;
  transition: 350ms ease;
  font-size: .9rem;
  border-bottom: 1px solid transparent;
}

#Contact .landing .formContainer .nextButton {
  left: unset;
  right: 1.5rem;
}

#Contact .landing .formContainer .nextButton span {
  margin: 0 .5rem 0 0;
  position: relative;
}

#Contact .landing .formContainer .nextButton span::after {
  content: '';
  position: absolute;
  bottom: -.125rem;
  left: 0;
  right: 0;
  background-color: var(--highlight-color);
  height: 1px;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
}

#Contact .landing .formContainer .nextButton svg {
  color: var(--highlight-color);
}

#Contact .landing .formContainer .nextButton.disabled {
  pointer-events: none;
}

#Contact .landing .formContainer .nextButton.enabled span {
  color: var(--highlight-color);
}

#Contact .landing .formContainer .nextButton.enabled span::after, #Contact .landing .formContainer .nextButton.enabled span:hover::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}
/*# sourceMappingURL=contact.module.css.map */