#Gallery {
    min-height: 100vh;
    padding: 1rem .5rem;
    background-color: var(--secondary-color);
    background-image: url('../public/imgs/textures/green-dust-and-scratches.png');
    @media screen and (min-width: 750px){
        padding: 1rem 1rem;
    }
    @media screen and (min-width: 990px){
        padding: 1rem 5rem;
    }
    header {
        margin-bottom: 2rem;
        text-align: center;
        transition: 350ms ease;
        @media screen and (min-width: 750px){
            padding: 1rem;
        }
        @media screen and (min-width: 990px){
            padding: 2.5rem;
        }
        h1 {
            font-family: var(--serif-font);
            text-transform: capitalize;
            font-size: 1.65rem;
            color: var(--highlight-color);
            @media screen and (min-width: 750px){
                font-size: 2rem;
                margin-bottom: .25rem;
            }
            @media screen and (min-width: 990px){
                font-size: 2.35rem;
            }
        }
        h2 {
            font-family: var(--main-font);
            font-weight: 500;
            color: var(--main-color);
            letter-spacing: 1px;
            @media screen and (min-width: 750px){
                letter-spacing: 2px;
            }
        }
    }
    .galleryContainer {
        --gap: .5rem;
        display: flex;
        flex-direction: row;
        gap: var(--gap);
        @media screen and (min-width: 990px){
            --gap: .7rem;
        }
        .column {
            flex-basis: 33%;
            display: flex;
            flex-direction: column;
            gap: var(--gap);
            .imgContainer {
                box-shadow: 2px 2px 5px rgba(0,0,0,.15);
                cursor: pointer;
                transition: 100ms ease;
                @media screen and (min-width: 750px){
                    &:hover {
                        transition: 250ms ease;
                        box-shadow: 2px 2px 5px rgba(0,0,0,.35);
                        transform: scale(1.025);
                    }
                }
                img {
                    width: 100%;
                }
            }
        }
    }
}