#Home {
    .backgroundContainer {
        overflow: hidden;
        min-height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: -2;
    }
    .background {
        min-height: 115vh;
        background: url('../public/imgs/background/IMG_1228-edit-blurred-desat.jpg');
        // background-color: var(--secondary-color-fade-less);
        background-position: center bottom;
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: -1;
        transform: scale(1.15);
    }
    .landing {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        padding-bottom: 3rem;
        @media screen and (min-width: 750px){
            padding-bottom: 7rem;
        }
        .headingContainer {
            text-align: center;
            padding: 1rem;
            opacity: .9;
            @media screen and (min-width: 750px){
                margin-bottom: 1rem;
            }
            .heading {
                color: var(--main-color);
                font-family: var(--serif-font);
                text-transform: uppercase;
                text-shadow: 2px 2px 15px var(--main-color-fade-more);
                opacity: .9;
                font-size: 10.11vw;
                letter-spacing: -.419vw;
                font-weight: 300;
                line-height: 10vw;
                margin-bottom: .75rem;
                @media screen and (min-width: 750px){
                    font-size: 5.9vw;
                    line-height: 5vw;
                    letter-spacing: -.231vw;
                }
                @media screen and (min-width: 1500px){
                    font-size: 5.8rem;
                    line-height: 4.68rem;
                }
                .small {
                    font-family: var(--main-font);
                    line-height: 0;
                    font-size: 2.778vw;
                    line-height: 4.168vw;
                    margin-bottom: 5.56vw;
                    letter-spacing: .75vw;
                    font-weight: 700;
                    @media screen and (min-width: 750px){
                        font-size: 1.2vw;
                        letter-spacing: .188vw;
                        margin-bottom: 1.5rem;
                    }
                }
                .it {
                    font-style: italic;
                    text-transform: lowercase;
                    &::after {
                        content: ' ';
                        margin-left: 1vw;
                        @media screen and (min-width: 750px){
                            margin-left: .6vw;
                        }
                    }
                }
            }
        }
        .CTAContainer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            margin-bottom: 4rem;
            opacity: .95;
            @media screen and (min-width: 750px){
                flex-direction: row;
            }
            .CTA {
                font-family: var(--main-font);
                font-size: .65rem;
                letter-spacing: .1vw;
                font-weight: 600;
                text-transform: uppercase;
                padding: 1rem 2rem;
                color: var(--secondary-color);
                box-shadow: 3px 3px 10px rgba(0,0,0,.4);
                transition: 350ms ease;
                background-color: var(--highlight-color);
                opacity: .95;
                &.black {
                    background-color: var(--main-color);
                }
                &:hover {
                    background-color: #FAD956;
                    color: var(--main-color);
                    box-shadow: 3px 3px 10px rgba(0,0,0,.75);
                }
            }
        }
        .chevronContainer {
            position: absolute;
            bottom: 2%;
            left: 50%;
            width: 2rem;
            margin: 0 auto;
            cursor: pointer;
            .arrow {
                animation: arrowspointing forwards infinite 3s cubic-bezier(.52, .01, .16, 1);
                > div {
                    display: inline-block;
                    height: 3px;
                    width: 1rem;
                    background-color: white;
                    &:first-of-type {
                        transform: rotate(25deg) translateX(8%);
                    }
                    &:nth-of-type(2) {
                        transform: rotate(-25deg) translateX(-8%);
                    }
                }
                &:nth-of-type(2) {
                    animation-delay: 1.5s;
                    margin-top: -1.25rem;
                }
                @keyframes arrowspointing {
                    0% {
                        transform: translateY(0);
                        opacity: 1;
                    }
                    30% {
                        transform: translateY(0);
                        opacity: 1;
                    }
                    50% {
                        transform: translateY(8px);
                        opacity: 0;
                    }
                    85% {
                        transform: translateY(-7px);
                        opacity: 0;
                    }
                    100% {
                        opacity: 1;
                        transform: translateY(0);
                    }
                }
            }
        }
    }
}
    
    