#Services {
    --landing-spacer-height: 3rem;
    .landing {
        // height: calc(100vh + var(--landing-spacer-height)); 
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 60vh 40vh auto;
        @media screen and (min-width: 750px){
            grid-template-columns: 4fr 3fr;
            grid-template-rows: calc(100vh + var(--landing-spacer-height));
        }
        .imgContainer {
            background-image: url('../public/imgs/stock/services_page/landing-min.jpg');
            @media screen and (min-width: 750px){
                background-image: url('../public/imgs/stock/services_page/landing.jpg');
            }
            background-size: cover;
            background-position: bottom;
            position: relative;
        }
        .info {
            background-color: var(--highlight-color-fade);
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            &.secondary {
                flex-direction: column;
                padding: 0 .5rem calc(var(--landing-spacer-height) + 7.5vh);
                &::before {
                    content: unset;
                }
                .infoContainer {
                    position: relative;
                    padding: 2rem;
                    background-color: var(--secondary-color);
                    max-width: 550px;
                    &::before {
                        content: '';
                        display: block;
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        height: 15vw;
                        background-color: var(--highlight-color-fade);
                    }
                    .imgContainer {
                        border-top: 5px solid var(--main-color);
                        img {
                            width: 100%;
                        }
                    }
                    .textContainer {
                        padding-top: 1rem;
                        h3 {
                            font-family: var(--serif-font);
                            font-size: 1.35rem;
                        }
                        p, ul li {
                            font-family: var(--main-font);
                            margin-top: .5rem;
                            line-height: 1.25rem;
                            font-weight: 300;
                            font-size: .9rem;
                        }
                        &::after {
                            content: unset;
                        }
                        ul {
                            margin-top: .5rem;
                            li {
                                padding-left: .5rem;
                                &::before {
                                    content: '•';
                                    margin-right: 1rem;
                                }
                                & + li {
                                    margin-top: .25rem;
                                }
                            }
                        }
                    }
                }
            }
            @media screen and (min-width: 750px){
                border-left: 1px solid var(--secondary-color-fade);
            }
            &::before { //LINE SPACER FOR CTA
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -185%);
                width: 1px;
                height: 20%;
                background-color: var(--secondary-color-fade-more);
                @media screen and (min-width: 750px){
                    display: none;
                }
            }
            .textContainer {
                position: relative;
                @media screen and (min-width: 750px){
                    border: 3px solid var(--secondary-color);
                    padding: 1rem 1.5rem;
                    margin-bottom: unset;
                    box-shadow: 5px 5px 15px 2px rgba(0,0,0,.05);
                }
                &::after {
                    content: '';
                    display: block;
                    height: 1px;
                    width: 10vw;
                    background-color: var(--secondary-color-fade);
                    position: absolute;
                    bottom: -2rem;
                    left: 50%;
                    transform: translateX(-50%);
                    @media screen and (min-width: 750px){
                        background-color: var(--secondary-color);
                        width: 7.5vw;
                    }
                }
                h2 {
                    text-align: center;
                    color: var(--secondary-color);
                    font-family: var(--serif-font);
                    font-size: 2.5rem;
                    line-height: 2rem;
                    font-weight: 300;
                    letter-spacing: -1.5px;
                    text-shadow: 0 0 4px rgba(0,0,0,.1);
                    &:nth-of-type(2){
                        font-style: italic;
                    }
                    @media screen and (min-width: 750px){
                        font-size: 2.75rem;
                        line-height: 2.5rem;
                        text-transform: capitalize;
                    }
                }
            }
            .iconContainer {
                position: absolute;
                bottom: -7rem;
                left: 50%;
                transform: translateX(-50%);
                svg {
                    color: var(--secondary-color);
                    opacity: .75;
                }
            }
        }
    }
}