#Services {
    --landing-spacer-height: 3rem;
    .landing {
        height: calc(100vh + var(--landing-spacer-height)); 
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 60% 40%;
        @media screen and (min-width: 750px){
            grid-template-columns: 4fr 3fr;
            grid-template-rows: calc(100vh + var(--landing-spacer-height));
        }
        .imgContainer {
            background-image: url('../public/imgs/stock/services_page/landing-min.jpg');
            @media screen and (min-width: 750px){
                background-image: url('../public/imgs/stock/services_page/landing.jpg');
            }
            background-size: cover;
            background-position: bottom;
            position: relative;
            .mouseSprite {
                cursor: pointer;
                position: absolute;
                bottom: 0;
                left: 50%;
                width: 13px;
                height: 20px;
                border-radius: 40%;
                transform: translate(-50%, 50%) scale(1.2);
                background-color: var(--secondary-color);
                display: flex;
                justify-content: center;
                align-items: center;
                box-shadow: 2px 2px 5px rgba(0,0,0,.15);
                @media screen and (min-width: 750px){
                    bottom: unset;
                    left: unset;
                    right: 0;
                    top: 50%;
                    transform: translate(50%, -50%) scale(1.2);
                }
                &:hover {
                    &::before,
                    &::after {
                        transform: translate(-50%, -50%);
                        color: var(--secondary-color);
                    }
                    .mouseAnimation {
                        animation-play-state: paused;
                    }
                }
                &::before,
                &::after {
                    content: '';
                    display: block;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    border: 1px solid var(--secondary-color-fade);
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transition: 350ms ease;
                }
                &::before {
                    transform: translate(-45%, -45%);
                }
                &::after {
                    transform: translate(-55%, -55%);
                }
                .mouseAnimation {
                    width: 1px;
                    height: 25%;
                    margin-bottom: 33%;
                    background-color: var(--main-color);
                    transform-origin: bottom;
                    animation: animate 750ms infinite alternate;
                    @keyframes animate {
                        0% {
                            opacity: 0;
                            transform: scaleY(0);
                        }
                        100% {
                            opacity: 1;
                            transform: scaleY(1);
                        }
                    }
                }
            }
        }
        .info {
            background-color: var(--highlight-color-fade);
            display: flex;
            align-items: center;
            justify-content: center;
            .textContainer {
                margin-bottom: var(--landing-spacer-height);
                @media screen and (min-width: 750px){
                    margin-bottom: unset;
                }
                h2 {
                    text-align: center;
                    color: var(--secondary-color);
                    font-family: var(--serif-font);
                    font-size: 3rem;
                    font-weight: 300;
                    letter-spacing: -1.5px;
                    line-height: 2.5rem;
                    text-shadow: 0 0 4px rgba(0,0,0,.1);
                    &:nth-of-type(2){
                        font-style: italic;
                    }
                }
            }
        }
    }
}