#Bars {
  background-color: var(--secondary-color);
  position: relative;
  padding: 4rem 1rem;
}

#Bars::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: .8;
  background-image: url("../../public/imgs/textures/natural-paper.png");
  z-index: 0;
}

#Bars::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 1px;
  width: 100vw;
  background-color: var(--main-color-fade-more);
}

#Bars .contentContainer {
  position: relative;
  max-width: 1100px;
  margin: 0 auto;
  padding-bottom: clamp(1rem, 7vw, 3rem);
}

@media screen and (min-width: 750px) {
  #Bars .contentContainer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 3fr 2fr;
        grid-template-columns: 3fr 2fr;
    grid-gap: 1rem;
  }
}

@media screen and (min-width: 990px) {
  #Bars .contentContainer {
    padding-bottom: clamp(1rem, 7vw, 6rem);
  }
}

#Bars .contentContainer header {
  text-align: left;
  position: relative;
  z-index: 1;
}

@media screen and (min-width: 750px) {
  #Bars .contentContainer header {
    text-align: right;
  }
}

#Bars .contentContainer header h2 {
  font-family: var(--serif-font);
  font-size: 1.75rem;
  line-height: 1.9rem;
  margin-bottom: 1.5rem;
  padding-left: .5rem;
  border-left: 3px solid var(--highlight-color);
  max-width: 90%;
  word-spacing: -.1rem;
  overflow: hidden;
}

@media screen and (min-width: 500px) {
  #Bars .contentContainer header h2 {
    font-size: 2rem;
    max-width: 75%;
  }
}

@media screen and (min-width: 750px) {
  #Bars .contentContainer header h2 {
    border: none;
    margin-left: auto;
    max-width: 100%;
    padding-left: 0;
    font-size: 2.25rem;
    line-height: 2.2rem;
  }
}

@media screen and (min-width: 990px) {
  #Bars .contentContainer header h2 {
    font-size: 2.75rem;
    line-height: 2.75rem;
    word-spacing: -.35rem;
  }
}

#Bars .contentContainer header h2 .emph {
  color: var(--highlight-color);
  margin-left: .3rem;
}

@media screen and (min-width: 500px) {
  #Bars .contentContainer header h2 .emph {
    margin-left: .5rem;
  }
}

@media screen and (min-width: 750px) {
  #Bars .contentContainer header h2 .emph .emphUnderline {
    height: 3px;
    width: 100%;
    background-color: var(--highlight-color);
  }
}

#Bars .contentContainer header h2 span::after {
  content: ' ';
}

@media screen and (min-width: 750px) {
  #Bars .contentContainer header h2 span {
    display: inline-block;
    white-space: nowrap;
  }
}

#Bars .contentContainer header p {
  font-family: var(--main-font);
  letter-spacing: 1px;
  font-size: .75rem;
  font-weight: 300;
  max-width: 90%;
}

@media screen and (min-width: 500px) {
  #Bars .contentContainer header p {
    font-size: .9rem;
  }
}

@media screen and (min-width: 750px) {
  #Bars .contentContainer header p {
    max-width: 45vw;
    margin-left: auto;
  }
}

#Bars .contentContainer header p:not(:last-of-type) {
  margin-bottom: 1rem;
}

#Bars .contentContainer .gallery {
  margin: 2rem 1rem 20vw;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (min-width: 750px) {
  #Bars .contentContainer .gallery {
    margin-bottom: 8rem;
    margin-top: 0;
  }
}

#Bars .contentContainer .gallery .imgContainer {
  -webkit-box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.1);
}

#Bars .contentContainer .gallery .imgContainer img {
  width: 100%;
}

#Bars .contentContainer .gallery #top {
  position: absolute;
  left: 0;
  top: 75%;
  width: 45vw;
  max-width: 300px;
}

@media screen and (min-width: 500px) {
  #Bars .contentContainer .gallery #top {
    right: 50%;
    left: unset;
  }
}

@media screen and (min-width: 750px) {
  #Bars .contentContainer .gallery #top {
    max-width: 225px;
    top: 77%;
  }
}

@media screen and (min-width: 990px) {
  #Bars .contentContainer .gallery #top {
    max-width: 300px;
  }
}

#Bars .contentContainer .gallery #top .galleryImg {
  position: relative;
  z-index: 2;
}

#Bars .contentContainer .gallery #top .desktopText {
  z-index: 1;
  display: none;
}

@media screen and (min-width: 750px) {
  #Bars .contentContainer .gallery #top .desktopText {
    text-align: right;
    display: inline-block;
    position: absolute;
    right: 100%;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 40vw;
    max-width: 400px;
    font-family: var(--main-font);
    font-weight: 200;
    letter-spacing: 1px;
    font-size: 1.5rem;
    line-height: 1.45rem;
    margin-right: 2rem;
    padding-right: 1.5rem;
    border-right: 3px solid var(--highlight-color);
    border-radius: 3%;
    color: var(--main-color);
  }
}

#Bars .contentContainer .gallery #top .embellishment {
  display: none;
  position: absolute;
  top: -25%;
  left: -25%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@media screen and (min-width: 750px) {
  #Bars .contentContainer .gallery #top .embellishment {
    display: block;
  }
}

#Bars .contentContainer .gallery #center {
  width: 75vw;
  max-width: 425px;
  overflow: hidden;
}

@media screen and (min-width: 750px) {
  #Bars .contentContainer .gallery #center {
    max-width: 350px;
    z-index: 1;
  }
}

@media screen and (min-width: 990px) {
  #Bars .contentContainer .gallery #center {
    max-width: 425px;
  }
}
/*# sourceMappingURL=Bars.module.css.map */