#Bars {
    background-color: var(--secondary-color);
    position: relative;
    padding: 4rem 1rem;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: .8;
        background-image: url("../../public/imgs/textures/natural-paper.png");
        z-index: 0;
    }
    //BORDER - CANNOT USE BORDER-PROP DUE TO MAX-WIDTH
    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        height: 1px;
        width: 100vw;
        background-color: var(--main-color-fade-more);
    }
    // ---- //
    .contentContainer {
        position: relative;
        max-width: 1100px;
        margin: 0 auto;
        padding-bottom: clamp(1rem, 7vw, 3rem);
        @media screen and (min-width: 750px){
            display: grid;
            grid-template-columns: 3fr 2fr;
            grid-gap: 1rem;
        }
        @media screen and (min-width: 990px){
            padding-bottom: clamp(1rem, 7vw, 6rem);
            // padding-bottom: 8rem;
        }
        
        header {
            text-align: left;
            position: relative;
            z-index: 1;
            @media screen and (min-width: 750px){
                text-align: right;
            }
            h2 {
                font-family: var(--serif-font);
                font-size: 1.75rem;
                line-height: 1.9rem;
                margin-bottom: 1.5rem;
                padding-left: .5rem;
                border-left: 3px solid var(--highlight-color);
                max-width: 90%;
                word-spacing: -.1rem;
                overflow: hidden;
                @media screen and (min-width: 500px){
                    font-size: 2rem;
                    max-width: 75%;
                }
                @media screen and (min-width: 750px){
                    border: none;
                    margin-left: auto;
                    max-width: 100%;
                    padding-left: 0;
                    font-size: 2.25rem;
                    line-height: 2.2rem;
                }
                @media screen and (min-width: 990px){
                    font-size: 2.75rem;
                    line-height: 2.75rem;
                    word-spacing: -.35rem;
                }
                .emph {
                    color: var(--highlight-color);
                    margin-left: .3rem;
                    @media screen and (min-width: 500px){
                        margin-left: .5rem;
                    }
                    @media screen and (min-width: 750px){
                        .emphUnderline {
                            height: 3px;
                            width: 100%;
                            background-color: var(--highlight-color);
                        }
                    }
                }
                span {
                    &::after {
                        content: ' ';
                    }
                    @media screen and (min-width: 750px){
                        display: inline-block;
                        white-space: nowrap;
                    }
                }
            }
            p {
                font-family: var(--main-font);
                letter-spacing: 1px;
                font-size: .75rem;
                font-weight: 300;
                max-width: 90%;
                @media screen and (min-width: 500px){
                    font-size: .9rem;
                }
                @media screen and (min-width: 750px){
                    max-width: 45vw;
                    margin-left: auto;
                }
                &:not(:last-of-type){
                    margin-bottom: 1rem;
                }
            }
        }
        .gallery {
            margin: 2rem 1rem 20vw;
            position: relative;
            display: flex;
            justify-content: flex-end;
            @media screen and (min-width: 750px){
                // justify-content: center;
                margin-bottom: 8rem;
                margin-top: 0;
            }
            .imgContainer {
                box-shadow: 5px 5px 12px rgba(0,0,0,.1);
                img {
                    width: 100%;
                }
            }
            #top {
                position: absolute;
                left: 0;
                top: 75%;
                width: 45vw;
                max-width: 300px;
                @media screen and (min-width: 500px){
                    right: 50%;
                    left: unset;
                }
                @media screen and (min-width: 750px){
                    max-width: 225px;
                    top: 77%;
                }
                @media screen and (min-width: 990px){
                    max-width: 300px;
                }
                .galleryImg {
                    position: relative;
                    z-index: 2;
                }
                .desktopText {
                    z-index: 1;
                    display: none;
                    @media screen and (min-width: 750px){
                        text-align: right;
                        display: inline-block;
                        position: absolute;
                        right: 100%;
                        top: 50%;
                        transform: translateY(-50%);
                        width: 40vw;
                        max-width: 400px;
                        font-family: var(--main-font);
                        font-weight: 200;
                        letter-spacing: 1px;
                        font-size: 1.5rem;
                        line-height: 1.45rem;
                        margin-right: 2rem;
                        padding-right: 1.5rem;
                        border-right: 3px solid var(--highlight-color);
                        border-radius: 3%;
                        color: var(--main-color);
                    }
                }
                .embellishment {
                    display: none;
                    @media screen and (min-width: 750px){
                        display: block;
                    }
                    position: absolute;
                    top: -25%;
                    left: -25%;
                    transform: rotate(-45deg);
                }
            }
            #center {
                width: 75vw;
                max-width: 425px;
                overflow: hidden;
                @media screen and (min-width: 750px){
                    max-width: 350px;
                    z-index: 1;
                }
                @media screen and (min-width: 990px){
                    max-width: 425px;
                }
            }
        }
    }
}