#Classes {
    background-color: #e2dade;
    --highlight-color: #f95b5b;
    --highlight-color-fade: #f95b5b46;
    position: relative;
    padding: 4rem 1rem;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: .3;
        // background-image: url("../../public/imgs/textures/natural-paper.png");
        background-image: url("../../public/imgs/textures/asfalt-dark.png");
    }
    //TOP AND BOTTOM BORDER - DUE TO MAX-WIDTH CANNOT USE BORDER PROPS
    .bottomBorder,
    .topBorder {
        content: '';
        position: absolute;
        width: 100vw;
        top: 0;
        left: 50%;
        height: 2px;
        background-color: #bdbbb859;
        transform: translateX(-50%);
    }
    .bottomBorder {
        top: unset;
        bottom: 0;
    }
    // -------------- //
    .contentContainer {
        padding-bottom: clamp(8rem, 25vw, 4rem);
        display: flex;
        flex-wrap: wrap;
        max-width: 1100px;
        margin: 0 auto;
        position: relative;
        @media screen and (min-width: 750px) {
            padding-bottom: 0;
        }
        @media screen and (min-width: 990px) {
            padding-bottom: 0;
            margin-bottom: -3rem;
        }
        header {
            padding-bottom: 1.75rem;
            flex-basis: 100%;
            z-index: 2;
            h2 {
                font-size: 1.8rem;
                font-family: var(--serif-font);
                line-height: 1.95rem;
                letter-spacing: 1px;
                word-spacing: -.1rem;
                margin-bottom: 1.5rem;
                color: white;
                font-weight: 400;
                max-width: 90%;
                border-left: 3px solid var(--highlight-color);
                padding-left: .5rem;
                overflow: hidden;
                @media screen and (min-width: 500px){
                    font-size: 2rem;
                    line-height: 1.9rem;
                }
                @media screen and (min-width: 750px){
                    padding-left: 0;
                    border-left: none;
                }
                @media screen and (min-width: 990px){
                    font-size: 2.8rem;
                    line-height: 2.75rem;
                    word-spacing: -.35rem;
                }
                span {
                    &:not(.emph) {
                        text-shadow: 0 0 4px rgba(0,0,0,.1);
                    }
                    &::before {
                        content: ' ';
                    }
                    @media screen and (min-width: 750px){
                        display: inline-block;
                    }
                    .emph {
                        margin-left: .1rem;
                        color: var(--highlight-color);
                        @media screen and (min-width: 500px){
                            margin-left: .15rem;
                        }
                        @media screen and (min-width: 750px){
                            margin-left: .35rem;
                            .emphUnderline {
                                height: 3px;
                                width: 100%;
                                background-color: var(--highlight-color);
                            }
                        }
                        @media screen and (min-width: 990px){
                            margin-left: .5rem;
                        }
                    }
                }
            }
            p {
                font-family: var(--main-font);
                font-weight: 300;
                font-size: .75rem;
                letter-spacing: 1px;
                color: var(--main-color);
                @media screen and (min-width: 500px){
                    font-size: .9rem;
                }
                @media screen and (min-width: 750px){
                    width: 75%;
                }
                @media screen and (min-width: 990px){
                    width: 65%;
                }
            }
            @media screen and (min-width: 750px) {
                order: 1;
                flex-basis: calc(60% - 2rem);
                margin-left: 2rem;
            }
        }
        .imgContainer {
            display: block;
            height: 100%;
            img {
                width: 100%;
            }
            &#first {
                box-shadow: 5px 5px 10px rgba(0,0,0,.15);
                overflow: hidden;
                flex-basis: 65%;
                z-index: 1;
                @media screen and (min-width: 750px) {
                    flex-basis: 40%;
                }
            }
            &#second {
                flex-basis: 35%;
                margin-left: -1rem;
                margin-top: 5rem;
                transform: translateY(calc(40% + 10vw)) scale(1.15);
                z-index: 0;
                position: relative;
                @media screen and (min-width: 750px) {
                    order: 4;
                    transform: none;
                    margin: 0;
                    flex-basis: 36%;
                    transform: translateY(-10%);
                    
                }
                @media screen and (min-width: 990px){
                    transform: translateY(-20%);
                }
                img:not(.emb) {
                    box-shadow: 5px 5px 10px rgba(0,0,0,.15);
                }
                svg, img.emb {
                    position: absolute;
                    z-index: -1;
                    width: 0;
                    @media screen and (min-width: 750px){
                        top: -4.5rem;
                        left: -4.5rem;
                        width: 75%;
                    }
                    @media screen and (min-width: 990px){
                        width: 100%;
                        top: -7.5rem;
                        left: -7.5rem;
                    }
                }
                img.emb {
                    width: 30%;
                    transform: rotate(140deg);
                    top: -.5rem;
                    left: -3.5rem;
                    @media screen and (min-width: 990px){
                        top: -1.25rem;
                        left: -5rem;
                        width: 40%;
                    }
                }
            }
        }
        .desktopText {
            display: none;
            @media screen and (min-width: 750px){
                display: flex;
                flex-basis: 64%;
                order: 3;
                justify-content: center;
                align-items: center;
                margin-bottom: 1rem;
            }
            h3 {
                width: 75%;
                border-left: 3px solid var(--highlight-color);
                border-radius: 2%;
                padding-left: 1rem;
                font-family: var(--main-font);
                font-size: 1.25rem;
                line-height: 1.45rem;
                font-weight: 300;
                color: var(--main-color);
                overflow: hidden;
                position: relative;
                opacity: .9;
                &:first-letter {
                    text-transform: uppercase;
                }
            }
            .emph {
                color: var(--highlight-color);
                font-style: italic;
            }
        }
    }
}