#Classes {
  background-color: #e2dade;
  --highlight-color: #f95b5b;
  --highlight-color-fade: #f95b5b46;
  position: relative;
  padding: 4rem 1rem;
}

#Classes::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: .3;
  background-image: url("../../public/imgs/textures/asfalt-dark.png");
}

#Classes .bottomBorder,
#Classes .topBorder {
  content: '';
  position: absolute;
  width: 100vw;
  top: 0;
  left: 50%;
  height: 2px;
  background-color: #bdbbb859;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#Classes .bottomBorder {
  top: unset;
  bottom: 0;
}

#Classes .contentContainer {
  padding-bottom: clamp(8rem, 25vw, 4rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1100px;
  margin: 0 auto;
  position: relative;
}

@media screen and (min-width: 750px) {
  #Classes .contentContainer {
    padding-bottom: 0;
  }
}

@media screen and (min-width: 990px) {
  #Classes .contentContainer {
    padding-bottom: 0;
    margin-bottom: -3rem;
  }
}

#Classes .contentContainer header {
  padding-bottom: 1.75rem;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  z-index: 2;
}

#Classes .contentContainer header h2 {
  font-size: 1.8rem;
  font-family: var(--serif-font);
  line-height: 1.7rem;
  letter-spacing: 1px;
  word-spacing: -.1rem;
  margin-bottom: 1.5rem;
  color: white;
  font-weight: 400;
  max-width: 90%;
  border-left: 3px solid var(--highlight-color);
  padding-left: .5rem;
  overflow: hidden;
}

@media screen and (min-width: 500px) {
  #Classes .contentContainer header h2 {
    font-size: 2rem;
    line-height: 1.9rem;
  }
}

@media screen and (min-width: 750px) {
  #Classes .contentContainer header h2 {
    padding-left: 0;
    border-left: none;
  }
}

@media screen and (min-width: 990px) {
  #Classes .contentContainer header h2 {
    font-size: 2.8rem;
    line-height: 2.75rem;
    word-spacing: -.35rem;
  }
}

#Classes .contentContainer header h2 span:not(.emph) {
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

#Classes .contentContainer header h2 span::before {
  content: ' ';
}

@media screen and (min-width: 750px) {
  #Classes .contentContainer header h2 span {
    display: inline-block;
  }
}

#Classes .contentContainer header h2 span .emph {
  margin-left: .1rem;
  color: var(--highlight-color);
}

@media screen and (min-width: 500px) {
  #Classes .contentContainer header h2 span .emph {
    margin-left: .15rem;
  }
}

@media screen and (min-width: 750px) {
  #Classes .contentContainer header h2 span .emph {
    margin-left: .35rem;
  }
  #Classes .contentContainer header h2 span .emph .emphUnderline {
    height: 3px;
    width: 100%;
    background-color: var(--highlight-color);
  }
}

@media screen and (min-width: 990px) {
  #Classes .contentContainer header h2 span .emph {
    margin-left: .5rem;
  }
}

#Classes .contentContainer header p {
  font-family: var(--main-font);
  font-weight: 300;
  font-size: .75rem;
  letter-spacing: 1px;
  color: var(--main-color);
}

@media screen and (min-width: 500px) {
  #Classes .contentContainer header p {
    font-size: .9rem;
  }
}

@media screen and (min-width: 750px) {
  #Classes .contentContainer header p {
    width: 75%;
  }
}

@media screen and (min-width: 990px) {
  #Classes .contentContainer header p {
    width: 65%;
    font-size: .95rem;
  }
}

@media screen and (min-width: 750px) {
  #Classes .contentContainer header {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -ms-flex-preferred-size: calc(60% - 2rem);
        flex-basis: calc(60% - 2rem);
    margin-left: 2rem;
  }
}

#Classes .contentContainer .imgContainer {
  display: block;
  height: 100%;
}

#Classes .contentContainer .imgContainer img {
  width: 100%;
}

#Classes .contentContainer .imgContainer#first {
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  -ms-flex-preferred-size: 65%;
      flex-basis: 65%;
  z-index: 1;
}

@media screen and (min-width: 750px) {
  #Classes .contentContainer .imgContainer#first {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
}

#Classes .contentContainer .imgContainer#second {
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
  margin-left: -1rem;
  margin-top: 5rem;
  -webkit-transform: translateY(calc(40% + 10vw)) scale(1.15);
          transform: translateY(calc(40% + 10vw)) scale(1.15);
  z-index: 0;
  position: relative;
}

@media screen and (min-width: 750px) {
  #Classes .contentContainer .imgContainer#second {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    -webkit-transform: none;
            transform: none;
    margin: 0;
    -ms-flex-preferred-size: 36%;
        flex-basis: 36%;
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
}

@media screen and (min-width: 990px) {
  #Classes .contentContainer .imgContainer#second {
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
  }
}

#Classes .contentContainer .imgContainer#second img:not(.emb) {
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}

#Classes .contentContainer .imgContainer#second svg, #Classes .contentContainer .imgContainer#second img.emb {
  position: absolute;
  z-index: -1;
  width: 0;
}

@media screen and (min-width: 750px) {
  #Classes .contentContainer .imgContainer#second svg, #Classes .contentContainer .imgContainer#second img.emb {
    top: -4.5rem;
    left: -4.5rem;
    width: 75%;
  }
}

@media screen and (min-width: 990px) {
  #Classes .contentContainer .imgContainer#second svg, #Classes .contentContainer .imgContainer#second img.emb {
    width: 100%;
    top: -7.5rem;
    left: -7.5rem;
  }
}

#Classes .contentContainer .imgContainer#second img.emb {
  width: 30%;
  -webkit-transform: rotate(140deg);
          transform: rotate(140deg);
  top: -.5rem;
  left: -3.5rem;
}

@media screen and (min-width: 990px) {
  #Classes .contentContainer .imgContainer#second img.emb {
    top: -1.25rem;
    left: -5rem;
    width: 40%;
  }
}

#Classes .contentContainer .desktopText {
  display: none;
}

@media screen and (min-width: 750px) {
  #Classes .contentContainer .desktopText {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 64%;
        flex-basis: 64%;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 1rem;
  }
}

#Classes .contentContainer .desktopText h3 {
  width: 75%;
  border-left: 3px solid var(--highlight-color);
  border-radius: 2%;
  padding-left: 1rem;
  font-family: var(--main-font);
  font-size: 1.5rem;
  line-height: 1.45rem;
  font-weight: 200;
  color: var(--main-color);
  overflow: hidden;
  position: relative;
}

#Classes .contentContainer .desktopText h3:first-letter {
  text-transform: uppercase;
}

#Classes .contentContainer .desktopText .emph {
  color: var(--highlight-color);
  font-style: italic;
}
/*# sourceMappingURL=Classes.module.css.map */