.infoBlock {
    padding-top: 1rem;
    @media screen and (min-width: 750px){
        margin: 0 auto 10vw;
        padding: 0 3rem;
        max-width: 750px;
        color: white;
        text-align: center;
        font-family: var(--main-font);
        > * {
            text-shadow: 0 0 4px rgba(0,0,0,.1);
        }
        &::before {
            content: '';
            display: block;
            height: 1px;
            width: 25%;
            background-color: var(--secondary-color);
            margin: 3rem auto;
        }
    }
    h3 {
        font-family: var(--serif-font);
        font-size: 1.35rem;
        @media screen and (min-width: 750px){
            font-size: 1.75rem;
            font-weight: 600;
            line-height: 1.75rem;
        }
    }
    p, ul li {
        font-family: var(--main-font);
        margin-top: .5rem;
        line-height: 1.25rem;
        font-weight: 300;
        font-size: .9rem;
        opacity: .75;
    }
    ul {
        margin-top: .5rem;
        li {
            padding-left: .5rem;
            white-space: nowrap;
            &:last-of-type {
                &::before {
                    content: unset;
                }
            }
            &::before {
                content: '•';
                margin-right: 1rem;
            }
            & + li {
                margin-top: .25rem;
            }
            .scrollAnchor {
                font-size: .7rem;
                text-decoration: underline;
                color: var(--highlight-color);
                cursor: pointer;
                margin-left: 4px;
            }
        }
    }
}