.LandingMobileInfo {
    background-color: var(--bg-color);
    background-image: var(--bg-texture);
    display: flex;
    justify-content: center;
    padding: 0 .5rem calc(var(--landing-spacer-height) + 7.5vh);
    &::before {
        content: unset;
    }
    .infoContainer {
        position: relative;
        padding: 2rem;
        background-color: var(--secondary-color);
        max-width: 550px;
        width: 95vw;
        &::before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            z-index: 0;
            height: 15vw;
            background-color: var(--bg-color);
            background-image: var(--bg-texture);
        }
        .imgContainer {
            background-image: unset;
            background-size: unset;
            background-position: unset;
            position: relative;
            border-top: 5px solid var(--main-color);
            z-index: 1;
            img {
                width: 100%;
            }
        }
    }
}