.spacer {
    height: 40vh;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (min-width: 750px){
        height: 50vh;
    }
    .imgContainer {
        height: 150%;
        @media screen and (min-width: 750px){
            width: 100%;
            height: unset;
        }
        img {
            opacity: 1;
            height: 100%;
            // filter: brightness(80%);
            @media screen and (min-width: 750px){
                width: 100%;
                height: unset;
            }
        }
    }
    header {
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        button {
            position: relative;
            padding: 0 1.5rem;
            @media screen and (min-width: 750px){
                padding: 0 3rem;
            }
            svg {
                position: absolute;
                top: 100%;
                left: 50%;
                color: white;
            }
            a {
                display: inline-block;
                position: relative;
                transition: 500ms var(--ease);
                P {
                    color: white;
                    font-family: var(--serif-font);
                    text-transform: uppercase;
                    font-size: 1.2rem;
                    font-weight: 600;
                    letter-spacing: 1px;
                    padding: var(--paddingY) var(--paddingX);
                    white-space: nowrap;
                    text-shadow: 0 0 4px rgba(0,0,0,.15);
                    @media screen and (min-width: 750px){
                        font-family: var(--serif-font);
                        text-transform: capitalize;
                        letter-spacing: -.75px;
                        font-weight: 600;
                        font-size: 2.5rem;
                    }
                }
                .underline {
                    position: absolute;
                    bottom: 0px;
                    right: 0;
                    left: 0;
                    height: 1px;
                    background-color: white;
                    @media screen and (min-width: 750px){
                        bottom: 2px;
                    }
                }  
            }
            .beforeLine,
            .afterLine {
                content: '';
                position: absolute;
                height: 1px;
                width: 40vw;
                background-color: white;
                top: 50%;
                transition: transform 350ms var(--ease) 250ms;
            }
            .beforeLine {
                right: 100%;
                transform-origin: right;
            }
            .afterLine {
                left: 100%;
                transform-origin: left;
            }
            transition: transform 350ms var(--ease);
            &:hover {
                .beforeLine {
                    transform: scaleX(0);
                }
                .afterLine {
                    transform: scaleX(0);
                }
                .underline {
                    transition: 350ms ease 600ms;
                    transform: scaleX(0);
                }
                p {
                    transform: scale(1.05) !important;
                    transition: transform 350ms var(--ease);
                }
            }
        }
    }
}