.spacer {
    height: 40vh;
    overflow: hidden;
    position: relative;
    @media screen and (min-width: 750px){
        height: 50vh;
    }
    .parallaxContainer {
        position: absolute;
        bottom: -15%;
        left: 0;
        right: 0;
        z-index: 0;
        height: 60vh;
        background-size: cover;
        background-position: center bottom;
        opacity: .5;
        @media screen and (min-width: 750px){
            height: 65vh;
        }
    }
    header {
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        button {
            position: relative;
            padding: 0 1.5rem;
            @media screen and (min-width: 750px){
                padding: 0 3rem;
            }
            svg {
                position: absolute;
                top: 100%;
                left: 50%;
                color: white;
            }
            a {
                overflow: hidden;
                display: inline-block;
                position: relative;
                color: white;
                font-family: var(--serif-font);
                text-transform: uppercase;
                font-size: 1.2rem;
                font-weight: 600;
                letter-spacing: 1px;
                padding: var(--paddingY) var(--paddingX);
                white-space: nowrap;
                // text-decoration: underline;
                transition: 500ms var(--ease);
                @media screen and (min-width: 750px){
                    font-family: var(--serif-font);
                    text-transform: capitalize;
                    letter-spacing: -.75px;
                    font-weight: 600;
                    font-size: 2.5rem;
                }
                .underline {
                    position: absolute;
                    bottom: 0px;
                    right: 0;
                    left: 0;
                    height: 1px;
                    background-color: white;
                    @media screen and (min-width: 750px){
                        bottom: 2px;
                    }
                }  
            }
            &::before,
            &::after {
                content: '';
                position: absolute;
                height: 1px;
                width: 40vw;
                background-color: white;
                top: 50%;
                transition: transform 350ms var(--ease) 250ms;
            }
            &::before {
                right: 100%;
                transform-origin: right;
            }
            &::after {
                left: 100%;
                transform-origin: left;
            }
            transition: transform 350ms var(--ease);
            &:hover {
                &::before {
                    transform: scaleX(0);
                }
                &::after {
                    transform: scaleX(0);
                }
                .underline {
                    transition: 350ms ease 600ms;
                    transform: scaleX(0);
                }
                transition: transform 350ms var(--ease);
                transform: scale(1.05);
            }
        }
    }
}