#Nav {
    position: fixed;
    top: 0;
    z-index: 10;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 1.25rem;
    align-items: center;
    padding: 1.5rem;
    width: 100%;
    transition: all 350ms ease;
    @media screen and (min-width: 750px){
        &.min {
            padding: .75rem 1.5rem;
            background-color: var(--secondary-color);
            box-shadow: 0 0px 15px rgba(0,0,0,.15);
            gap: .5rem;
            grid-template-columns: minmax(auto, 600px) minmax(auto, 600px);
            justify-content: center;
        }
    }
    .brand {
        cursor: pointer;
        justify-self: center;
        grid-column: 2;
        grid-row: 1;
        &.min {
            grid-column: 1/2;
            grid-row: 1;
            justify-self: left;
            img {
                height: 3.5rem;
            }
        }
        img {
            transition: 50ms linear;
            height: 5rem;
        }
    }
    .leftIcon {
        height: 4rem;
    }
    .list {
        grid-row: 2;
        grid-column-start: 2;
        display: flex;
        flex-direction: row;
        opacity: .8;
        --gap: 1.5rem;
        gap: var(--gap);
        &.min {
            --gap: 1rem;
            grid-column: 2/3;
            grid-row: 1;
            justify-self: right;
        }
        .item {
            position: relative;
            text-transform: uppercase;
            font-family: var(--main-font);
            font-weight: 500;
            letter-spacing: 3px;
            font-size: .75rem;
            color: var(--main-color);
            white-space: nowrap;
            a {
                position: relative;
                &::before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    right: calc(var(--gap) * -.5);
                    transform: translateY(-50%);
                    width: 1px;
                    height: 1.5rem;
                    background-color: var(--main-color-fade);
                }
                &::after {
                    content: '';
                    position: absolute;
                    bottom: -1rem;
                    left: 0;
                    right: 0;
                    height: 1px;
                    background-color: transparent;
                    transition: 350ms ease 350ms;
                }
                &:hover::after {
                    background-color: var(--main-color-fade);
                    bottom: -.25rem;
                }
                text-shadow: 0px 10px transparent;
                transition: 500ms ease;
                &:hover,
                &.active {
                    color: transparent;
                    text-shadow: 0px 0px var(--main-color-fade);
                    opacity: .75;
                }
                &.active {
                    pointer-events: none;
                }
            }
            &:last-of-type {
                a::before {
                    background-color: transparent;
                }
            }
        }
    }
    .hamburgerIcon,
    .socialList {
        display: flex;
        flex-direction: column;
        justify-self: right;
        gap: .25rem;
        grid-column: 3;     
        a:hover {
            color: var(--highlight-color);
            transition: 350ms ease;
        }
    }
    .hamburgerIcon {
        cursor: pointer;
        position: fixed;
        padding: .5rem .35rem;
        top: 2.75rem;
        left: 1.15rem;
        z-index: 20;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 5px;
        transition: 500ms ease;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: .35rem;
        p {
            font-weight: 600;
            color: var(--main-color);
            transition: 350ms ease;
            opacity: 0;
            visibility: hidden;
        }
        &:hover {
            p {
                opacity: 1;
                visibility: visible;
            }
            div {
                &:first-of-type {
                    transform-origin: left;
                    transform: rotate(-20deg) translate(-2px, 7px) scaleX(.5);
                }
                &:nth-of-type(2){
                    transform-origin: left;
                    transform: translateX(0%) scaleX(90%);
                }
                &:last-of-type {
                    transform-origin: left;
                    transform: rotate(20deg) translate(-2px, -7px) scaleX(.5);
                }
            }
        }
        div {
            transition: 350ms ease;
            height: 1.5px;
            width: 2rem;
            background-color: var(--main-color);
            &:nth-of-type(2){
                transform: translateX(15%);
            }
        }
    }
}
