.STYLED_BTN {
    background-color: var(--highlight-color);
    color: var(--secondary-color);
    padding: 1rem 1.5rem;
    font-size: .65rem;
    font-family: var(--main-font);
    letter-spacing: .1vw;
    text-transform: uppercase;
    font-weight: 600;
    box-shadow: 3px 3px 10px rgba(0,0,0,.125);
    overflow-x: hidden;
    &::before {
        content: '>';
        display: inline-block;
        margin-right: .25rem;
        transform: translateX(-600%);
    }
    &::after {
        content: '>';
        display: inline-block;
        margin-left: .25rem;
    }
    &:hover {
        text-decoration: underline;
        &::before {
            transition: 200ms ease 250ms;
            transform: translateX(0%);
        }
        &::after {
            transition: 200ms ease;
            transform: translateX(600%);
        }
    }
}