html,
body {
    height: 100%;
    width: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    /* backface-visibility: hidden; */
    /* -webkit-backface-visibility: hidden; */
}

* {
  box-sizing: border-box;
  margin: 0;
  /* -webkit-font-smoothing: antialiased; */
}

*::selection {
    background-color: var(--highlight-color-fade);
    color: var(--main-color);
}


img {
    display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 1rem;
    font-weight: normal;
}

li {
    list-style: none;
}

ul {
    padding-left: 0;
}

button {
    cursor: pointer;
    background-color: transparent;
    outline: none;
    border: none;
    padding: 0;
    display: inline-block;
}

:root {
    --main-font: 'Aktiv Grotesk W01', sans-serif;
    --serif-font: 'Saol Display', serif;
    --main-color-fade-less: #2f2f2fa6;
    --main-color: #2f2f2f;
    --main-color-fade: #2f2f2f48;
    --main-color-fade-more: #2f2f2f27;
    --main-color-fade-more-2x: #2f2f2f15;
    --secondary-color: #f7f7f7;
    --secondary-color-fade-slight: #f7f7f7d3;
    --secondary-color-fade-less: #f7f7f7a1;
    --secondary-color-fade: #f7f7f773;
    --secondary-color-fade-more: #f7f7f742;
    --highlight-color: #7F8C4F;
    --highlight-color-fade-less: #7f8c4fb0;
    --highlight-color-fade: #7f8c4f65;
    --highlight-color-fade-more: #7f8c4f36;
    --highlight-color2: #FAD956;
    --ease: cubic-bezier(.38,.25,0,.97);
}

.no_highlights {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*
    responsive breakpoints:
    mobile < 750px
    750px < tablet < 990px
    990px < desktop
*/


