html,
body {
    height: 100%;
    width: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
}

*::selection {
    background-color: var(--highlight-color-fade);
    color: var(--main-color);
}

img {
    display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 1rem;
    font-weight: normal;
}

li {
    list-style: none;
}

ul {
    padding-left: 0;
}

button {
    cursor: pointer;
    background-color: transparent;
    outline: none;
    border: none;
    padding: 0;
    display: inline-block;
}

:root {
    --main-font: 'Open Sans', sans-serif;
    --serif-font: 'Ivy Mode Thin', serif;
    --main-color-fade-less: #2f2f2fa6;
    --main-color: #2f2f2f;
    --main-color-fade: #2f2f2f48;
    --main-color-fade-more: #2f2f2f27;
    --secondary-color: #f7f7f7;
    --secondary-color-fade: #f7f7f773;
    --secondary-color-fade-more: #f7f7f742;
    --highlight-color: #7F8C4F;
    --highlight-color-fade-less: #7f8c4fb0;
    --highlight-color-fade: #7f8c4f65;
    --highlight-color-fade-more: #7f8c4f36;
    --highlight-color2: #FAD956;
    --ease: cubic-bezier(.65, -.01, .16, 1);
}

/*
    responsive breakpoints:
    mobile < 750px
    750px < tablet < 990px
    990px < desktop
*/

@font-face {
    font-family: 'Ivy Mode';
    src: url('../public/fonts/ivymode/IvyMode-Regular.eot');
    src: local('Ivy Mode Regular'), local('IvyMode-Regular'),
        url('../public/fonts/ivymode/IvyMode-Regular.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/ivymode/IvyMode-Regular.woff2') format('woff2'),
        url('../public/fonts/ivymode/IvyMode-Regular.woff') format('woff'),
        url('../public/fonts/ivymode/IvyMode-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ivy Mode';
    src: url('../public/fonts/ivymode/IvyMode-LightItalic.eot');
    src: local('Ivy Mode Light Italic'), local('IvyMode-LightItalic'),
        url('../public/fonts/ivymode/IvyMode-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/ivymode/IvyMode-LightItalic.woff2') format('woff2'),
        url('../public/fonts/ivymode/IvyMode-LightItalic.woff') format('woff'),
        url('../public/fonts/ivymode/IvyMode-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Ivy Mode';
    src: url('../public/fonts/ivymode/IvyMode-SemiBoldItalic.eot');
    src: local('Ivy Mode SemiBold Italic'), local('IvyMode-SemiBoldItalic'),
        url('../public/fonts/ivymode/IvyMode-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/ivymode/IvyMode-SemiBoldItalic.woff2') format('woff2'),
        url('../public/fonts/ivymode/IvyMode-SemiBoldItalic.woff') format('woff'),
        url('../public/fonts/ivymode/IvyMode-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Ivy Mode';
    src: url('../public/fonts/ivymode/IvyMode-ThinItalic.eot');
    src: local('Ivy Mode Thin Italic'), local('IvyMode-ThinItalic'),
        url('../public/fonts/ivymode/IvyMode-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/ivymode/IvyMode-ThinItalic.woff2') format('woff2'),
        url('../public/fonts/ivymode/IvyMode-ThinItalic.woff') format('woff'),
        url('../public/fonts/ivymode/IvyMode-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Ivy Mode';
    src: url('../public/fonts/ivymode/IvyMode-Italic.eot');
    src: local('Ivy Mode Italic'), local('IvyMode-Italic'),
        url('../public/fonts/ivymode/IvyMode-Italic.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/ivymode/IvyMode-Italic.woff2') format('woff2'),
        url('../public/fonts/ivymode/IvyMode-Italic.woff') format('woff'),
        url('../public/fonts/ivymode/IvyMode-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Ivy Mode';
    src: url('../public/fonts/ivymode/IvyMode-BoldItalic.eot');
    src: local('Ivy Mode Bold Italic'), local('IvyMode-BoldItalic'),
        url('../public/fonts/ivymode/IvyMode-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/ivymode/IvyMode-BoldItalic.woff2') format('woff2'),
        url('../public/fonts/ivymode/IvyMode-BoldItalic.woff') format('woff'),
        url('../public/fonts/ivymode/IvyMode-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Ivy Mode';
    src: url('../public/fonts/ivymode/IvyMode-Bold.eot');
    src: local('Ivy Mode Bold'), local('IvyMode-Bold'),
        url('../public/fonts/ivymode/IvyMode-Bold.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/ivymode/IvyMode-Bold.woff2') format('woff2'),
        url('../public/fonts/ivymode/IvyMode-Bold.woff') format('woff'),
        url('../public/fonts/ivymode/IvyMode-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Ivy Mode';
    src: url('../public/fonts/ivymode/IvyMode-Light.eot');
    src: local('Ivy Mode Light'), local('IvyMode-Light'),
        url('../public/fonts/ivymode/IvyMode-Light.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/ivymode/IvyMode-Light.woff2') format('woff2'),
        url('../public/fonts/ivymode/IvyMode-Light.woff') format('woff'),
        url('../public/fonts/ivymode/IvyMode-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Ivy Mode';
    src: url('../public/fonts/ivymode/IvyMode-Thin.eot');
    src: local('Ivy Mode Thin'), local('IvyMode-Thin'),
        url('../public/fonts/ivymode/IvyMode-Thin.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/ivymode/IvyMode-Thin.woff2') format('woff2'),
        url('../public/fonts/ivymode/IvyMode-Thin.woff') format('woff'),
        url('../public/fonts/ivymode/IvyMode-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Ivy Mode';
    src: url('../public/fonts/ivymode/IvyMode-SemiBold.eot');
    src: local('Ivy Mode SemiBold'), local('IvyMode-SemiBold'),
        url('../public/fonts/ivymode/IvyMode-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/ivymode/IvyMode-SemiBold.woff2') format('woff2'),
        url('../public/fonts/ivymode/IvyMode-SemiBold.woff') format('woff'),
        url('../public/fonts/ivymode/IvyMode-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}


