:root {
    --main-font: 'Aktiv Grotesk W01', sans-serif;
    --serif-font: 'Saol Display', serif;
    --main-color-fade-less: #2f2f2fa6;
    --main-color: #2f2f2f;
    --main-color-fade: #2f2f2f48;
    --main-color-fade-more: #2f2f2f27;
    --main-color-fade-more-2x: #2f2f2f15;
    --secondary-color: #f7f7f7;
    --secondary-color-fade-slight: #f7f7f7d3;
    --secondary-color-fade-less: #f7f7f7a1;
    --secondary-color-fade: #f7f7f773;
    --secondary-color-fade-more: #f7f7f742;
    --highlight-color: #7F8C4F;
    --highlight-color-fade-less-2x: #7f8c4fd5;
    --highlight-color-fade-less: #7f8c4fb0;
    --highlight-color-light: #CCD1B9;
    --highlight-color-fade: #7f8c4f96;
    --highlight-color-fade-more: #7f8c4f36;
    --highlight-color2: #FAD956;
    --ease: cubic-bezier(.38,.25,0,.97);
}