.carousel {
    --side-padding: 2rem;
    --max-img-size: 48.5rem;
    padding: 0rem var(--side-padding);
    height: 60vw;
    max-height: 22.8rem;
    position: relative;
    width: 100%;
    margin: 0 auto;
    @media screen and (min-width: 61.85rem){
        position: unset;
        grid-row: 1;
        //4rem for padding Y
        height: calc(100vh - var(--navHeight) - 4rem);
        max-height: unset;
        padding: unset;
        padding-left: 4rem;
        overflow-y: hidden;
    }
    .counters {
        position: absolute;
        bottom: -4rem;
        left: 50%;
        transform: translate(-50%, -150%);
        display: flex;
        align-items: center;
        > * + * {
            margin: 0 0 0 .25rem;
        }
        @media screen and (min-width: 61.85rem){
            z-index: 100;
            top: 50%;
            left: calc(100% - clamp(1rem, 50vw, var(--max-img-size)) - 2rem);
            bottom: unset;
            transform: translate(-50%, -50%) rotate(90deg);
        }
        div {
            width: .3rem;
            height: .3rem;
            // background-color: transparent;
            // border: 1px solid black;
            border-radius: 50%;
            transition: 350ms ease;
        }
        .chevron {
            margin: .0 3rem;
            @media screen and (min-width: 61.85rem){
                transform: translateY(5%);
            }
            svg {
                width: .45rem;
            }
        }
    }
    .imgContainer {
        @media screen and (min-width: 61.85rem){
            height: inherit;
            position: relative;
        }
        img {
            width: calc(100% - var(--side-padding) * 2);
            max-width: 34.375rem;
            position: absolute;
            top: 50%;
            @media screen and (min-width: 61.85rem){
                width: 50vw;
                max-width: var(--max-img-size);
            }
        }
        #shown {
            box-shadow: 5px 5px 10px rgba(0,0,0,.1);
            // border: 2px solid var(--main-color-fade-less);
            z-index: 2;
            left: 50%;
            transform: translate(-50%, -50%);
            @media screen and (min-width: 61.85rem){
                left: unset;
                right: 0;
                transform: translate(-0, -50%);
                // width: 100%;
                border-right: none;
                transform-origin: right;
            }
        }
        #left,
        #right {
            z-index: 1;
            opacity: .5;
            transform: translate(0, -50%) scale(.8);
            @media screen and (min-width: 61.85rem){
                transform: unset;
                right: 0% !important;
                transform-origin: right;
                top: 50%;
                transform: translate(0, -50%);
                // width: 100%;
            }
        }
        #left {
            right: 50%;
            @media screen and (min-width: 61.85rem){
                transform: translate(0, -85%) scale(.8);
            }
        }
        #right {
            left: 50%;
            @media screen and (min-width: 61.85rem){
                transform: translate(0, -15%) scale(.8);
                left: unset;
            }
        }
    }
}